@import "tailwindcss";

@theme inline {
    --color-primary: var(--color-cyan-700);
    --color-primary-hover: var(--color-cyan-800);
}

@layer base {
    html,
    body,
    #root {
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
