@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme inline {
    --color-primary: var(--color-cyan-600);
    --color-primary-hover: var(--color-cyan-700);
    --color-on-primary: var(--color-white);
    --color-background: #f4f6fe;
    --color-background-accent: var(--color-sky-100);
    --font-sans: "DM Sans", sans-serif;
}

@layer base {
    html,
    body,
    #root {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
